.statistics {
  margin: 0 auto 30px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 255, 0.15);
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.title {
  padding: 20px 0;

  font-weight: 700;
  font-size: 20px;
  color: #333;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
